## 1. 코랩 돌아보기

In [ ]:
import os
os.getcwd()

## 2. 기본문법

In [3]:
나이 = 27
이름 = '홍길동'
체크 = True
print(나이, 이름, 체크)

27 홍길동 True

In [ ]:
list1 = [ 27, 28, 29    ]   # 리스트
list2 = [ 27, "홍길동", list1]
print(list2)
list1 * 5

In [ ]:
import numpy as np
arr1 = np.array( list1     )
arr1 * 5

In [ ]:
import pandas as pd
df1 = pd.DataFrame( list1 )

In [22]:
df2 = pd.read_csv("creditset2.csv")
df2.columns
df2.index
df2.values
df2.income  # df2["income"]
df2.to_csv("new_creditset2.csv")

In [52]:
df2.head()
df2.income.idxmax()
df2.income.idxmin()
df2.income.nlargest(5)
df2.income.nsmallest(5).index
df2.values[ : ,  1  ]  #2D array,
# 1~1000행까지 3열 출력   [0:1000, 2]
# 2열과 3열을 출력      [:, 1:3]
df2.iloc[  :, 1:3]
df2[ [ "age" , "loan" ] ]
df2.default10yr.value_counts()
#컬럼 추가, age가 45보다 큰지, 작은지
df2["new_col"] = df2.age > 45  #이름 중복 시 overwrite
#컬럼 삭제
df2.drop("new_col", axis=1, inplace=True) #df2에 삭제를 반영

0       64.017015
1       53.117153
2       68.108049
3       50.751972
4       23.584336
          ...
1995    53.518179
1996    28.162104
1997    33.017167
1998    68.971796
1999    61.152617
Name: age, Length: 2000, dtype: float64

In [43]:
#AMZN.csv를 데이터프레임으로 읽어보시고, describe()를 사용해보세요.
df3 = pd.read_csv("AMZN.csv")
df4 = df3.describe()
df4.to_csv("new_AMZN.csv")
#df3에서 Close, Volume 컬럼을 선택해서 데이터프레임으로 출력해보세요.
df3[["Close", "Volume"]]
df3.iloc[ : , [4,6]]

           Close    Volume
0    1864.819946   2893500
1    1861.689941   2749900
2    1887.310059   3373800
3    1923.770020   4640400
4    1901.750000   3675800
..           ...       ...
247  2042.760010   4655600
248  2168.870117   6716700
249  2283.320068   8087200
250  2307.679932   6866600
251  2408.189941  11968300

[252 rows x 2 columns]

In [66]:
#creditapprovaluci.csv 파일을 credit로 읽으세요
credit = pd.read_csv("creditApprovalUCI.csv")  #index_col, encoding="cp949"
# head()명령어를 사용해서 값을 확인해보세요
credit.head()
#수치형으로 된 컬럼만 선택해서 credit2라는 데이터프레임 만드세요
num_cols = ["A2", "A3", "A8", "A14","A15", "A16"]
credit2 = credit[ num_cols]
#0. 결측치(missing)
credit2.isnull().mean().round(2)
#1. 지우기
credit2.dropna()  #inplace=True,   subset=["A3","A2"]
#2. imputing
credit2.fillna(0)   #0으로
credit2.A3.fillna( credit2.A3.mean() )
#3. A1, A4 컬럼만 선택해서 credit3
credit3 = credit[ ["A1", "A4"]]
#A4의 결측율
credit3.A4.isnull().mean()
#A4 각 값의 빈도
credit3.A4.value_counts()
credit3.A4.fillna("u")

0      u
1      u
2      u
3      u
4      u
      ..
685    y
686    u
687    y
688    u
689    u
Name: A4, Length: 690, dtype: object

In [ ]:
#join, index
# AMZN.csv amzn으로 읽으세요. Open, Low을 1~20행 ->amzn1
# Low, Close을 10~30행->amzn2
amzn = pd.read_csv("AMZN.csv", index_col=0,
                   parse_dates=True)  #amzn.index = amzn.Date
amzn1 = amzn.iloc[0:20, [1, 3]]
amzn2 = amzn.iloc[10:30, 3:5]
amzn3 = amzn1.join(amzn2, rsuffix=".amzn2", how="outer")

# pd.concat
pd.concat(  [amzn1, amzn2])   #axis=1 컬럼으로 추가

#amzn 데이터프레임에서 Volume 컬럼을 갖는amzn4, Adj Close 컬럼을 amzn5
#join으로 합치시고, pd.concat으로도 합쳐보세요
amzn4 = amzn[ ["Volume"] ]
amzn5 = amzn[["Adj Close"]]
amzn4.join(amzn5)
pd.concat([amzn4, amzn5], axis=1)

In [ ]:
!pip install pykrx   #pykrx 대신에 다른 라이브러리명

In [ ]:
from pykrx import stock
kr1 = stock.get_market_ohlcv("20240704")
kr2 = stock.get_market_fundamental("20240704")
##################################################################
# kr1, kr2 티커를 기준으로 합치세요
kr3 = kr1.join(kr2)
#합친 kr3를 csv로 만들어보세요
kr3.to_csv("kr3.csv")
stock.get_market_ohlcv_by_date("20230704","20240703", "005930")

In [ ]:
import seaborn as sns
flight = sns.load_dataset("flights")
flight.head()
# flights의 결측율을 체크해보세요
flight.isnull().mean()
# year에 대해서 value_counts
flight.year.value_counts()
# month, passengers에 대해서 describe
flight[["month", "passengers"]].describe()
flight.head()
#flight.pivot_table(index="month", columns="year", values="passengers").plot()

diamonds = sns.load_dataset("diamonds")
diamonds.pivot_table(index="cut", columns="color", values="price")
#diamonds.groupby(["cut", "color"])["price"].mean()

In [ ]:
flight.replace(  ["Jan", "Feb"], ["1월", "2월"]  )
flight.replace(  {"Jan": "1월"}  )

dict1 = {"Jan": "1월"} #dict1.keys() dict1.values()
flight.replace( dict1 )  #regex=True

def func1(param1):
  tmp = param1*2
  return tmp

flight.passengers.apply( func1 )  #데이터프레임.applymap( func1 )
#flight의 year, month로 passengers를 pivot_table -> func1을 전체 데이터프레임에..
fl1 = flight.pivot_table(index="year", columns="month", values="passengers")
fl1.applymap( func1 )

#sample
diamonds.sample(5)
diamonds.price.between(700, 1000 )  # 범위 내에 값이 있는지 체크

In [144]:
# mortDefault.zip을 업로드 한 후, 다음 명령어로 압축을 해제하세요
#!unzip mortDefault.zip
#1. 세 csv 파일을 각각 mort2007, mort2008, mort2009로 읽으세요
mort2007 = pd.read_csv("mortDefault2007.csv")
mort2008 = pd.read_csv("mortDefault2008.csv")
mort2009 = pd.read_csv("mortDefault2009.csv")
#2. 세 데이터프레임을 하나로 연결해보세요(행 방향으로, mort)
mort = pd.concat( [mort2007, mort2008, mort2009] )
#3. mort 데이터프레임의 결측율을 확인해보세요
mort.isnull().mean()
#4. mort의 year와 default컬럼에 대해서 creditscore를 pivot_table로 정리하세요
mort.pivot_table(index="year", columns="default", values="creditScore")
#5. mort2007과 mort2008을 pd.concat으로 합쳐보세요( 열방향 axis=1, mort2)
mort2 = pd.concat( [mort2007, mort2008], axis=1 )
#6. mort의 default에 대해서 value_counts를 적용해보세요
mort.default.value_counts()
#7. mort에서 100만1번행에서 110만 행, 2~4열을 선택해보세요
mort.iloc[1000000:1100000, 1:4]
#8. mort에서 sample을 이용해서 랜덤하게 10000건을 선택해서 mort3으로... mort3의
#   creditscore를 2배로 하는 함수를 apply로 적용해서 new_col이름으로 열추가하세요
#def func1(param1):    tmp = param1*2      return tmp
#데이터프레임.컬럼.apply
mort3 = mort.sample( 10000 )
mort3["new_col"] = mort3.creditScore.apply(func1)

In [ ]:
 #값의 할당
friend=1
Freind=10
a=3;b=4
c, d = 5,6
type(friend)

#다음 명령어는 예약어이므로 변수명으로 사용 불가
#and, as, assert, break, class, continue, def, del, elif, else, except, is, finally
#for, from, global, if, import, in, is, lambda, nonlocal,  not, or, pass, raise, return
#try, while, with, yield

year=2008
month=12
print(year, month)

type(3.14)
type(1)

#연산
r=2
circle_area= 3.14*(r**2)
x=3
y=4
triangle_area=x*y/2
print( circle_area, triangle_area)

x/y
(x*1.2)/y

#문자열 '' 또는 ""로 표현
str1 = 'string'
str2 = "string"
str3 = "this is 'string'"

#문자열 계산
'py' 'thon'
'py'+'thon'
'py'*3

a="python"
a[1]
a[1:4]
a[:]
a[::2]

#형 변환
str(3.14)
int("49")
float(23)

## 3. 함수의 정의

In [ ]:
def Times(a,b):
	a=a+1
	b=b+1
	return a*b

#함수 객체 확인
globals()

Times
Times(10,10)

myTimes = Times
r = myTimes(10,10)


#return 없으면 None 반환
def setValue( newValue):
	x=newValue

retval = setValue(10)
print(retval)

##4. 반복문

In [ ]:

for i in [1,2,3,4]:
        print(i)

for i in range(1,5):	#숫자 리스트를 자동으로 만들어주는 함수, range, 1부터 5미만 정수
        print(i)


#리스트 내 for 포함
#형식: [표현식 for 항목 in 반복가능객체 if 조건]

a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)

print(result)

result = [num * 3 for num in a]
print(result)

result = [num * 3 for num in a if num % 2 == 0]
print(result)

##5 bool 연산, 객체 복사

In [ ]:
#bool
1<2
1 !=2
1==2
True and False
True & False
True or False
False | False
not True

bool(0)
bool(-1)
bool(1)
bool('test')
bool(None)

#얕은 복사/깊은 복사
a = 1 #1객체 생성 후 1의 주소가 a에 저장

a=[1,2,3]
b=a
a[0]=38
a
b
id(a)
id(b)

#a와 b가 객체를 공유하지 않도록 복사: 리스트
a=[1,2,3]
b = a[:]
a[0]=38
id(a)
id(b)
a
b

#리스트 외의 자료->deepcopy 이용
import copy
a = [1,2,3]
b = copy.deepcopy(a)
a[0] = 38
a
b

##6 세트, 리스트, 튜플

In [ ]:
#세트, 값의 모임, 순서없음, {}
a={1,2,3}
b={3,4,5}
type(a)

a.union(b)
a.intersection(b)
a-b
a|b
a&b

#리스트: 값의 나열, 순서있음, 여러 종류 가능,0부터 시작하는 인덱스, 슬라이싱
colors = ['red','green','gold']
type(colors)

#값의 추가
colors.append('blue')
colors

#위치 지정 값 추가
colors.insert(1, 'black')

#여러 값 추가->extend사용하여 tuple, list 추가
colors.extend( ['white', 'gray'])
colors

colors += ['red']
colors
colors +='red'
colors

#값 찾기
colors.index('red')
colors.index('red', 1)

colors.count('red')
colors.pop()
colors.pop(1)

#튜플: 리스트와 유사, []대신 (), 읽기 전용,속도 빠름, 다만 메서드 적게 지원(count, index)
t= (1,2,3)
type(t)
a,b=1,2
(a,b) = (1,2)
print(a,b)

a,b = b,a
print(a,b)

#*총정리*
#리스트, 세트, 튜플 사용 및 변환 (세트<리스트<튜플)
a = set( (1,2,3) )
type(a)
b=list(a)
b
type(b)
c=tuple(b)
c
type(c)
d = set(c)
d
type(d)

#in 연산자
a = set( (1,2,3) )
type(a)
1 in a

b = list(a)
type(b)
2 in b
c = tuple(b)
type(c)
3 in c
4 in a

##7. 딕셔너리
 - 키와 값의 쌍, dict 또는 세트로 생성 가능/키로 값 가져오지만/인덱싱 미지원

In [ ]:
d = dict( a=1, b=3, c=5)
type(d)

color = {"apple":"red", "banana":"yellow"}
color
color["apple"]
color[0]  #미지원

#값의 추가 및 변경
color
color["cherry"]="red"
color["apple"]="green"

del color['cherry']
color.clear()

##8. 세트 연습

In [ ]:
#비어있는 세트 생성하기
empty_set = set()

#세트 생성
languages = {'python', 'r', 'java'} # 직접 정의
snakes = set(['cobra', 'viper', 'python']) # 리스트를 변환

# 원소 개수 확인 및 원소 여부 확인
len(languages)
'python' in languages

# 연산
languages & snakes #교집합
languages | snakes #합집합
languages - snakes #차집합
snakes - languages #차집합

##9. 리스트 연습

In [ ]:
# 비어있는 리스트 만들기
empty_list = []
empty_list = list()

# 직접 정의하기
simpsons = ['homer', 'marge', 'bart']

# 리스트 확인
simpsons[0]
len(simpsons)

# 추가/삭제
simpsons.append('lisa') #맨 끝에 추가
simpsons.extend(['itchy', 'scratchy']) # 끝에 여러 값 추가
simpsons.insert(0, 'maggie') # 위치 지정 후 추가
simpsons.remove('bart') # 처음 일치하는 값 발견하여 삭제
simpsons.pop(0) # 해당 값 삭제 및 반환
del simpsons[0] # 해당 값 삭제
simpsons[0] = 'krusty' #값 변경

# 리스트 결합: extend보다 느리게 수행
neighbors = simpsons + ['ned','rod','todd']

# 리스트에서 원소 발견
simpsons.count('lisa') # 개수 반환
simpsons.index('itchy') # 첫 출현 위치 반환

# 슬라이싱 [start:end:stride]
weekdays = ['mon','tues','wed','thurs','fri']
weekdays[0] #1번째
weekdays[0:3] #1~3번째
weekdays[:3] # 1~3번째
weekdays[3:] # 3~4번째
weekdays[-1] # 마지막 원소
weekdays[::2] # 처음 부터 매번 2개째 원소

weekdays[::-1] # 거꾸로 출력
# 또는 아래처럼 수행 가능
list(reversed(weekdays))

#정렬(리스트 값을 정렬하지만, 반환하지는 않음)
simpsons.sort()
simpsons.sort(reverse=True)

# 정렬된 값을 보여주지만 원래 리스트에는 변동 없음
sorted(simpsons)
sorted(simpsons, reverse=True)

# 같은 리스트 객체를 참조하는 두 리스트
num = [1, 2, 3]
same_num = num
same_num[0] = 0 #둘 다 변경

# 리스트 복사하는 3가지 방법
new_num = num.copy()
new_num = num[:]
new_num = list(num)

# +와 * 연산: 리스트 확장 및 복제
[1, 2, 3] + [4, 5, 6]
["a"] * 2 + ["b"] * 3

##9. 튜플 연습

In [ ]:

# 튜플 생성
digits = (0, 1, 'two') # 직접 정의
digits = tuple([0, 1, 'two']) # 리스트로 부터 생성
zero = (0,) # 값이 1개인 경우에도 ,를 넣어줘야 튜플로 인식

# 튜플 활용
digits[2]
len(digits)
digits.count(0)
digits.index(1)

# 값 수정 불가
# digits[2] = 2 #오류

# +로 extend
digits = digits + (3, 4)
# *로 복제
(3, 4) * 2

##10. 딕셔너리 연습

In [ ]:
# 딕셔너리 생성
empty_dict = {}
empty_dict = dict()

# 직접 생성 2가지 방법
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)

# 리스트를 이용하여 생성
list_of_tuples = [('dad','homer'), ('mom','marge'), ('size', 6)]
family = dict(list_of_tuples)

# 딕셔너리 확인
family['dad'] # key에 대한 값 반환
len(family)
family.keys() # ['dad', 'mom', 'size']
family.values() #  ['homer', 'marge', 6]
family.items()  #아이템으로 구성된 리스트 반환

'mom' in family
'marge' in family # in 연산자는 key만 확인함

# 값 변경
family['cat'] = 'snowball' # 새로운 key-value 추가
family['cat'] = 'snowball ii' # 기존 key의 값 변경
del family['cat'] # 삭제
family['kids'] = ['bart', 'lisa'] # 리스트도 값이 될 수 있음
family.update({'baby':'maggie', 'grandpa':'abe'}) # 여러 아이템들을 추가

# 딕셔너리 반환 값이 리스트처럼 활용되어서 인덱싱 가능
family['kids'][0] # returns 'bart'
family['kids'].remove('lisa') # 'lisa' 삭제

## 11. 리스트+반복문

In [ ]:
# nums의 값으로 cubes에 추가
nums = [1, 2, 3, 4, 5]
cubes = []

for num in nums:
	cubes.append(num**3)

# 똑 같은 연산
cubes = [num**3 for num in nums] # [1, 8, 27, 64, 125]

# 짝수만 추가
cubes_of_even = []
for num in nums:
	if num % 2 == 0:
		cubes_of_even.append(num**3)

# 똑 같은 연산
cubes_of_even = [num**3 for num in nums if num % 2 == 0] # [8, 64]

# 2차원 구조 1차원으로 변경
matrix = [[1, 2], [3, 4]]
items = []
for row in matrix:
	for item in row:
		items.append(item)

# 똑 같은 연산
items = [item for row in matrix for item in row]

# 딕셔너리 만들기
fruits = ['apple', 'banana', 'cherry']
fruit_lengths = {fruit:len(fruit) for fruit in fruits} # {'apple': 5,'banana': 6, 'cherry': 6}

## 12. 파일입출력

In [ ]:
import os
import tempfile
# 임시 파일 경로 출력 및 파일 출력

# 현재 작업 경로
os.getcwd()

# 경로 및 파일명 지정
test1= os.getcwd()
myfile = os.path.join(test1, "test1.txt")

# Write
lines = ["test123", "test456"]
## write line by line
fd = open(myfile, "w")
fd.write(lines[0] + "\n")
fd.write(lines[1]+ "\n")
fd.close()

## 파일 자동으로 닫기
with open(myfile, 'w') as f:
	for line in lines:
		f.write(line + '\n')

# 읽기
## 한 줄씩 읽기
f = open(myfile, "r")
print(f.readline() )
print(f.readline() )
f.close()

## 한 번에 다읽기
f = open(myfile, 'r')
lst1 = f.readlines() # one list, each line is one string
f.close()

#pandas 이용

from pandas import read_csv, Series, DataFrame
csv_data = read_csv("creditset.csv")

type(csv_data)
csv_data.describe()

#웹 페이지
import requests
from bs4 import BeautifulSoup

# 예술가 리스트 페이지 접근
page = requests.get('https://web.archive.org/web/20121007172955/https://www.nga.gov/collection/anZ1.htm')

# BeautifulSoup
soup = BeautifulSoup(page.text, 'html.parser')
artist_name_list = soup.find(class_='BodyText')	#  BodyText 클래스의 텍스트 추출
artist_name_list_items = artist_name_list.find_all('a') #추출된 텍스트에서 a태그 값 추출

#모든 예술가 이름 확인
for artist_name in artist_name_list_items:
    print(artist_name.prettify())

## 13. numpy

In [ ]:
import numpy as np

a = np.array( [0,1,2,3,4,5])
a.ndim
a.shape
a.dtype

b = a.reshape((3,2))
print(b)
b.ndim
b.shape


#array 연산/인덱싱
a*2
a**2

[1,2,3,4,5]*2	#리스트와는 다름

#기본 인덱싱
a[ [2,3,4] ]
a[ np.array( [2,3,4]) ]	#인덱싱에 배열도 사용 가능

#논리 연산
a>4
a[ a>4 ]
a[ a>4 ] = 4

# array 기본 활용 연습
x = [0.0, 1, 2, 3, 4]
y = np.array(x)
y = np.array([[0.0, 1, 2, 3, 4], [5, 6, 7, 8, 9]])
np.shape(y)
y = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
np.shape(y)

x = [0, 1, 2, 3, 4] # Integers
y = np.array(x)
y.dtype

x = [0.0, 1, 2, 3, 4] # 0.0 is a float
y = np.array(x)
y.dtype

x = [0.0, 1, 2, 3, 4] # 하나라도 float이면 전체가 float임
y = np.array(x)
type(y)
y * y # Elementbyelement

#array + for 같이 사용
a = np.array([[1, 2], [3, 4], [5, 6]], float)
for x in a:
    print(x)

#array 값 접근하기
x = np.array([1.0,2.0,3.0,4.0,5.0])
x[0]

x = np.array([[1.0,2,3],[4,5,6]])
x[1,2]


#슬라이싱
arr = np.arange(10, dtype=float).reshape((2, 5))
arr[0] # 0번째 원소
arr[0, 3] # 0행 3열
arr[0][3] # 0행3열


arr[0, :] # 0행, 1차원 배열
arr[:, 0] # 0열, 1차원 배열
arr[:, :2] # 첫 2개 열
arr[:, 2:] # 2 위치 이후 열
arr2 = arr[:, 1:4] # 위치1 과 위치4 사이 열
print(arr2)

#슬라이싱2
arr2 = arr[:, [1,2,3]] # arr 배열의 복사본
print(arr2)
arr2[0, 0] = 44
print(arr2)
print(arr)
arr2 = arr[arr > 5] # arr 배열의 복사본
print(arr2)
arr2[0] = 44
print(arr2)
print(arr)

arr[arr > 5] = 0
print(arr)

#---------------------------------------------------------------#
#numpy 활용 통계량 계산

x = np.arange(10.0)	#0~9까지 10개 숫자를 갖는 자료구조 생성
x.mean()

np.mean(x)
x= np.reshape(np.arange(20.0),(4,5))
np.mean(x,0)

np.median(x)

np.std(x)
np.var(x)